.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  background-color: #FFC800;
  overflow: hidden;

  /* border-bottom: 3px #fffbef;
  border-bottom-style: solid; */
  border-bottom: 3px solid #fffbef;
  background-clip: padding-box;

  overflow: hidden;
  position: fixed; 
  top: 0; 
  left: 0;
  right: 0;
  padding: 3px;

  height: 50px; 
  
  z-index: 100;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: #01295F;
  padding-left: 10px;
  margin: 0;
}

.navLink {
  display: inline-block;
  color: #01295F;
  background-color: #FFC800;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #c8d6d6;
}
